html,body{
  justify-content: center;
}
.post-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  margin: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 20rem;
  height: 30rem;
  position: relative;
}

.post-card img {
  width: 150px;
  height: 150px;
  margin: 10px;
  object-fit: cover;
}

.post-card h2 {
  font-size: 1.5em;
  margin: 8px 0;
  color: #333;
}

.tags{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
}

.card-actions .edit-btn,
.card-actions .delete-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.card-actions .delete-btn {
  background-color: #dc3545;
}
