.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .post-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
  }

  .title{
    padding-top: 20px;
  }